
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zaloguj_dyrektor</title>
</head>
<body>
    Serwus dyrektorze
</body>
</html>
