@model WebApplication7.Models.Pracownik

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<
<body>

    Witaj adminie!
     <br/>

    <input type="button" value="Pracownicy" onclick="location.href='@Url.Action("Index", "Pracownicy")'"  />
    <input type="button" value="Trasy" onclick="location.href='@Url.Action("Index","Polaczenia")'"  />
</body>
</html>
