@model WebApplication7.Models.Polaczenie

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Polaczenie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Stacja" class="control-label"></label>
                <input asp-for="Stacja" class="form-control" />
                <span asp-validation-for="Stacja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godzina" class="control-label"></label>
                <input asp-for="Godzina" class="form-control" />
                <span asp-validation-for="Godzina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ilosc_miejsc" class="control-label"></label>
                <input asp-for="Ilosc_miejsc" class="form-control" />
                <span asp-validation-for="Ilosc_miejsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
